<footer id="footer">
    <address>
        <div class="phone-numbers">
            <a href="tel:+15406002115">(540) 600-2115</a>
            <a href="tel:+15404618042">(540) 461-8042</a>
            <a href="tel:+15403190399">(540) 319-0399</a>
        </div>
        <div class="links">
            <a href='https://www.yelp.com/biz/napa-thai-cuisine-lexington-2'>
                <img class="yelp" src="../../assets/images/yelp.png" alt="(icon not loading)"> <p>- yelp</p>
            </a>
            <a href='https://www.tripadvisor.com/Restaurant_Review-g57896-d9767455-Reviews-Napa_Thai-Lexington_Virginia.html'>
                <img class="tripadvisor" src="../../assets/images/tripadvisor.png" alt="(icon not loading)"> <p>- tripadvisor</p>
            </a>
            <a href='https://foursquare.com/v/napa-thai-cuisine/56a1609e498ed994a5e7b977'>
                <img class="foursquare" src="../../assets/images/foursquare.png" alt="(icon not loading)"> <p>- foursquare</p>
            </a>
            <a href='https://www.instagram.com/napa_thai_/'>
                <img class="instagram" src="../../assets/images/instagram.png" alt="(icon not loading)"> <p>- instagram</p>   
            </a>
            <a href='https://www.facebook.com/pages/category/Thai-Restaurant/Napa-Thai-Lexington-VA-1036384306404486/'>
                <img class="facebook" src="../../assets/images/facebook.png" alt="(icon not loading)"> <p>- facebook</p>
            </a>



        </div>
    </address>
</footer>

