.about-container {
    padding: 35px 40px 0 40px;
    border-top: 1px solid black;
}

.about-title {
    color: black;
    font-size: 1.9rem;
    text-align: center;
    text-decoration: underline;
    margin: 0;
}

.text-container {
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: poppins;
}

.text {
    border-radius: 5px;
    background-color: rgba(0, 191, 255, 0.3);
    width: 60%;
    margin: 20px 40px 20px 50px;
    padding: 20px;
    text-align: center;
}


@media screen and  (max-width: 800px) {
    .text-container {
        font-size: 1rem;
        text-align: center;
        flex-direction: column;
        align-items: center;

    }

    .text {
        margin: 10px;
        width: 80%
    }
}