
.buttons {
    margin-top: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.85);
    height: 100px;
    color:wheat;
    text-shadow: 2px 2px royalblue;
    font-size: 1.8rem;
}

.menu, .reservation {
    cursor: pointer;
    position: fixed;
    bottom: 25px;
}

.menu {  
    left: 20%;
}

.reservation {
    right: 20%
}

.menu:hover, .reservation:hover {
    color: aqua;
    font-size: 2rem;
    bottom: 20px;
}

.menu:hover {
    left: 19%;
}

.reservation:hover {
    right: 19%;
}



@media screen and (max-width: 900px) {
    .buttons {
        height: 90px;
        font-size: 1.2rem;
    }

    .menu:hover, .reservation:hover {
        font-size: 1.3rem;
        bottom: 23px;
    }
    
}


@media screen and (max-width: 550px) {
    .buttons {
        height: 80px;
        font-size: 0.9rem;
    }

    .menu {  
        left: 20px;
    }
    
    .reservation {
        right: 20px;
    }

    .menu:hover, .reservation:hover {
        font-size: 1rem;
    }
    
    .menu:hover {
        left: 16px;
    }
    
    .reservation:hover {
        right: 16px;
    }
}
